* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(12, 0, 23);
    color: rgb(255, 243, 224);
    font-family: sans-serif;
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 100px;
}

nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    z-index: 100;
    background-color: rgba(173, 173, 173, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
}

.nav-logo a:link {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    transition: 1s ease;
}

.nav-logo a:visited {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    transform: 1s ease;
}

.nav-logo a:hover {
    color: rgb(197, 192, 255)
}

.nav-links {
    display: flex;
    gap: 50px;
    list-style: none;

}

.nav-links a:link {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    transition: 0.5s ease;
}

.nav-links a:visited {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: 0.5s ease;
}

.nav-links a:hover {
    color: rgb(197, 192, 255);
    font-size: 20.5px;
}

#hero {
    position: relative;
    display: flex;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hero h1 {
    font-size: 64px;
    background-image: linear-gradient(to right, #ff9ec5, #FCA8FF, #C6C0FF, #8AF9FF, #9effb8, #f2ffa8, #ffd59a, #ff9c8a);
    background-clip: text;
    width: max-content;
    color: transparent;
}

#hero p {
    font-size: 20px;
    color: rgba(250, 250, 250, 0.75)
}

#about {
    padding: 0px 60px;
    height: 100dvh;
}

#about h2 {
    font-size: 36px;
    margin-bottom: 80px;
    background-image: linear-gradient(to right, #FF9E9E, #FCA8FF, #C6C0FF, #8AF9FF);
    background-clip: text;
    color: transparent;
    width: max-content;
}

.about-stuff {
    display: flex;
    gap: 30px;
    align-items: center;

}

.aboutme-card {
    flex: 1;
    font-size: 17px;
    color: rgba(250, 250, 250, 0.75);
    padding: 20px 25px;
    border: 1px solid rgba(225, 225, 225, 0.5);
    border-radius: 15px;
    background-color: rgba(173, 173, 173, 0.1);
    backdrop-filter: blur(10px);
    transition: 0.5s;
}

.aboutme-card:hover {
    background-color: rgba(173, 173, 173, 0.2);
    transform: scale(1.05);
    box-shadow: 0px 0px 20px 5px rgba(173, 173, 173, 0.3);
    color: rgba(250, 250, 250, 0.9);
}

.harpaavan {
    font-size: 20px;
    font-weight: 1000;
    color: rgb(250, 250, 250);
    background-image: linear-gradient(to right, #ff9ec5, #FCA8FF, #C6C0FF, #8AF9FF, #9effb8, #f2ffa8, #ffd59a, #ff9c8a);
    background-clip: text;
    width: max-content;
    transition: 0.5s;
}

.aboutme-card:hover .harpaavan {
    color: transparent;
}

.skills {
    flex: 1.3;
}

.bloops {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.skill-part {

}

.skill-part h3 {
    font-size: 20px;
}

.skill-icon {
    position: relative;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgba(225, 225, 225, 0.5);
    border-radius: 15px;
    background-color: rgba(173, 173, 173, 0.1);
    backdrop-filter: blur(10px);
    margin-top: 7px;
    margin-bottom: 3px;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.3s;
}

.skill-icon span {
    opacity: 0;
    font-size: 10px;
    position: absolute;
    left: 50%;
    bottom: 110%;
    transform: translateX(-50%);
    white-space: nowrap;
    transition: 0.5s;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border: 0.5px solid rgba(225, 225, 225, 0.5);
    border-radius: 10px;
    background-color: rgba(200, 200, 200, 0.25);
    backdrop-filter: blur(10px);
    pointer-events: none;
}

.skill-icon:hover {
    background-color: rgba(173, 173, 173, 0.2);
    transform: scale(1.07);
    box-shadow: 0px 0px 20px 3px rgba(173, 173, 173, 0.3);
}

.skill-icon:hover span {
    opacity: 1;
}

.icon {
    height: 35px;
    width: 35px;
}

.vex-icon {
    height: 35px;
    width: 35px;
    border-radius: 7px;
}

#projects {
    height: 100dvh;
    padding-left: 60px;
    padding-right: 60px;
}

#projects h2 {
    margin-bottom: 60px;
    font-size: 36px;
    background-image: linear-gradient(to right, #FF9E9E, #FCA8FF, #C6C0FF, #8AF9FF);
    background-clip: text;
    color: transparent;
    width: max-content;
}

.allprojects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.project-card {
    padding: 20px;
    border: 1px solid rgba(225, 225, 225, 0.5);
    border-radius: 15px;
    background-color: rgba(173, 173, 173, 0.1);
    backdrop-filter: blur(10px);
    transition: 0.5s;
}

.project-card:hover {
    background-color: rgba(173, 173, 173, 0.2);
    box-shadow: 0px 0px 20px 5px rgba(173, 173, 173, 0.3);
    transform: scale(1.05);
    
}

.project-card h3 {
    margin-bottom: 25px;
    font-size: 25px;
}

.project-card p {
    margin-bottom: 10px;
    color: rgba(250, 250, 250, 0.75);
    transition: 0.5s;
}

.project-card:hover p {
    color: rgba(250, 250, 250, 0.9);
}

.project-card a:link {
    text-decoration: none;
    font-size: 15px;
    color: rgb(166, 184, 255);
}

.project-card a:visited {
    text-decoration: none;
    font-size: 15px;
    color: rgb(166, 184, 255);
}

.arrow {
    opacity: 0;
    transition: 0.3s;
}

.project-card:hover .arrow {
    opacity: 1;
}

#experience {

}

.experience-card {

}

.date {

}

#award {

}

.award-card {

}

#contact {

}

a:link {
    color: cyan;
}

a:visited {
    color: rgb(156, 117, 255);
}
